.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.typing-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: 0;
  animation: typing 4s steps(30, end) forwards, blink 0.7s step-end infinite;
}
/* Home.css */
/* .Home-background {
  background-image: url('./image/image copy 4.png');
  background-repeat: no-repeat;
  background-size: cover;
} */


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}


.typing-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: 0;
  animation: typing 8s steps(30, end) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
